Retos/B5/nomina.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="nomina">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empleado">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="puesto" type="xs:string"/>
                            <xs:element name="salario_base" type="xs:decimal"/>
                            <xs:element name="transporte" type="xs:decimal"/>
                            
                            <xs:element name="complemento_variable">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tipo" type="xs:string"/>
                                        <xs:element name="cantidad" type="xs:decimal"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="retenciones">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="seguridad_social" type="xs:decimal"/>
                                        <xs:element name="irpf" type="xs:decimal"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="salario_bruto" type="xs:decimal"/>
                            <xs:element name="salario_neto" type="xs:decimal"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>