Ejercicio DTD2/Ejercicio9.DTD

<!--]>

<productos>
<nombre>martillo</nombre>
<identificacion>
Quedan 14 unidades.
<codigo>MAR264</codigo>
</identificacion>
<identificacion>
<codigo>DES387</codigo>
<id>678984</id>
No hay stock.
<nombre>destornillador</nombre>
</identificacion>
</productos>

El siguiente documento XML ("productos.xml") está bien formado. Sin embargo,
no es válido. Para que lo sea, realizar los cambios necesarios en dicho documento,
pero sin modificar la DTD interna.

<? xml version="1.0" encoding="UTF-8"?>
<! DOCTYPE productos [
<! ELEMENT productos (producto)*>
<! ELEMENT producto (identificacion, nombre)>
<! ELEMENT identificacion (#PCDATA | codigo | id)*>
<! ELEMENT codigo (#PCDATA)>
<! ELEMENT id (#PCDATA)>
<! ELEMENT nombre (#PCDATA)>
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE productos [
  <!ELEMENT productos (producto)*>
  <!ELEMENT producto (identificacion, nombre)>
  <!ELEMENT identificacion (#PCDATA | codigo | id)*>
  <!ELEMENT codigo (#PCDATA)>
  <!ELEMENT id (#PCDATA)>
  <!ELEMENT nombre (#PCDATA)>
]>

<productos>
  <producto>
    <identificacion>
      Quedan 14 unidades.
      <codigo>MAR264</codigo>
    </identificacion>
    <nombre>martillo</nombre>
  </producto>

  <producto>
    <identificacion>
      <codigo>DES387</codigo>
      <id>678984</id>
      No hay stock.
    </identificacion>
    <nombre>destornillador</nombre>
  </producto>
</productos>