Ejercicio DTD2/Ejercicio4.DTD

<!--El siguiente documento XML ("partes.xml") está bien formado. Sin embargo, no es
válido. Para que lo sea, realizar los cambios necesarios en dicho documento, pero
sin modificar la DTD interna.

<? xml version="1.0" encoding="UTF-8"?>
<! DOCTYPE partes [
<! ELEMENT partes (secciones)>
<! ELEMENT secciones ANY>
<! ELEMENT letras (#PCDATA)>

]>

<secciones>
<letras>abc</letras>
MNT
<letras>xyz</letras>
</secciones>
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE partes [
	<!ELEMENT partes (secciones)>
	<!ELEMENT secciones ANY>
	<!ELEMENT letras (#PCDATA)>
]>
<partes>
	<secciones>
		<letras>abc</letras>
		MNT
		<letras>xyz</letras>
	</secciones>
</partes>