DTD/XML/XSD/Ejericicos XSD/Ejericico6.XSD

<!--Convierte este DTD a XSD. Considera:

Usar <xs:element> para cada elemento
Usar <xs:sequence> para la secuencia
Usar <xs:attribute> para el atributo prioridad
Usar enumeración para los valores de prioridad

<!ELEMENT nota (para, de, asunto, mensaje)>
<!ELEMENT para (#PCDATA)>
<!ELEMENT de (#PCDATA)>
<!ELEMENT asunto (#PCDATA)>
<!ELEMENT mensaje (#PCDATA)>
<!ATTLIST nota
prioridad (alta|media|baja) "media"
>
-->


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nota">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="para" type="xs:string"/>
        <xs:element name="de" type="xs:string"/>
        <xs:element name="asunto" type="xs:string"/>
        <xs:element name="mensaje" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="prioridad" default="media">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="alta"/>
            <xs:enumeration value="media"/>
            <xs:enumeration value="baja"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>